{% comment %} {{ 'header.js' | asset_url | script_tag }} {% endcomment %}
<script src="{{ 'header.js' | asset_url }}" defer></script>
<!-- mega menu -->
<section id="header" class="relative">
  <div class="navbar bg-base-100 relative max-w-7xl mx-auto">
    <div class="navbar-start">
      <div class="hidden lg:flex">
        <ul class="menu menu-horizontal space-x-2">
          <li>twitter</li>
          <li>facebook</li>
          <li>instagram</li>
          <li>tiktok</li>
        </ul>
      </div>
      <!-- mobile dropdown -->
      <div class=" lg:hidden">
        <button
          onclick="toggleMobileMenu()"
          id="menu-toggler"
          type="button"
          class="btn btn-ghost">
          {% render 'icon-hamburger-menu' %}
        </button>
      </div>
    </div>
    <div class="navbar-center flex">
      {% if settings.logo != blank %}
        <a href="{{ shop.url }}">
          <img src="{{ settings.logo | img_url: '100x' }}" alt="{{ shop.name | escape }}">
        </a>
      {% else %}
        <a href="{{ shop.url }}" class="btn btn-ghost text-xl">{{ shop.name }}</a>
      {% endif %}
    </div>
    <div class="navbar-end">
      <ul class="menu menu-horizontal">
        <li>
          <button onclick="toggleSearchMenu()" class="whitespace-nowrap text-base text-gray-500 hover:text-gray-900">
            {% render 'icon-search' %}
          </button>
        </li>
        <li class="relative">
          <button class="whitespace-nowrap text-base text-gray-500 hover:text-gray-900">{% render 'icon-shopping-bag' %}
            {% comment %} TODO: cart count {% endcomment %}
            <div id="counter" class="bg-neutral rounded-full px-2 text-base-100 absolute top-[-4px] right-[6px]"></div>
          </button>
        </li>
      </ul>
      <ul class="menu menu-horizontal hidden lg:flex">
        {% render 'header-customer-links' %}
      </ul>
    </div>

    {% comment %} TODO: Fix this to have a cleaner fade in and fade out effect {% endcomment %}
    <div id="mobile-menu" class="pt-3 hidden shadow bg-base-100 top-28 left-0 right-0 border-t-2">
      <div class="flex flex-col">
        <ul class="menu p-2 m-1">
          {% render 'header-menu-links'
            , links: section.settings.menu.links %}
        </ul>
        <ul class="menu p-2 m-1">
          {% render 'header-customer-links' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="divider max-w-7xl mx-auto my-0"></div>
  <div class="bg-base-100 items-center justify-center hidden lg:flex">
    <div class="">
      <!-- desktop menu -->
      <ul class="menu menu-horizontal px-1">
        {% render 'header-menu-links'
          , links: section.settings.menu.links %}
      </ul>
    </div>
  </div>
  {% render 'searchbar' %}
</section>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "text",
        "id": "mobile_menu_title",
        "default": "Menu",
        "label": "Mobile Menu Title"
      }, {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "Heading Navigation Menu"
      }
    ]
  }
{% endschema %}