{% comment %} {{ 'header.js' | asset_url | script_tag }} {% endcomment %}
<script src="{{ 'header.js' | asset_url }}" defer></script>
<!-- mega menu -->
<section id="header" class="w-full relative px-8 text-gray-700 bg-white">
  <div class="py-6 mx-auto max-w-7xl md:flex-row">
    <div class="flex items-center py-5 border-b border-gray-200">
      {% comment %} social icons {% endcomment %}
      <div class="lg:inline-flex items-center hidden space-x-6 lg:w-2/5 justify-start lg:mr-0">
        <span class="inline-flex justify-center mt-4 space-x-5 md:mr-auto md:mt-0 md:justify-start">
          <a href="#" class="text-gray-400 hover:text-gray-500">
            <span class="sr-only">Facebook</span>
            {% render 'icon-facebook' %}
          </a>

          <a href="#" class="text-gray-400 hover:text-gray-500">
            <span class="sr-only">Instagram</span>
            {% render 'icon-instagram' %}
          </a>

          <a href="#" class="text-gray-400 hover:text-gray-500">
            <span class="sr-only">Twitter</span>
            {% render 'icon-twitter' %}
          </a>

          <a href="#" class="text-gray-400 hover:text-gray-500">
            <span class="sr-only">GitHub</span>
            {% render 'icon-tiktok' %}
          </a>
        </span>
      </div>
      {% comment %} mobile dropdown button {% endcomment %}
      <div class="inline-flex items-center lg:hidden w-2/5 justify-start">
        <button
          onclick="toggleMobileMenu()"
          id="menu-toggler"
          type="button"
          class="btn btn-ghost">
          {% render 'icon-hamburger-menu' %}
        </button>
      </div>
      {% comment %} logo {% endcomment %}
      <a href="{{ shop.url }}" class="flex items-center mb-4 font-medium text-gray-800 lg:order-none lg:w-1/5 title-font lg:items-center lg:justify-center md:mb-0">
        {% if settings.logo != blank %}
          <img src="{{ settings.logo | img_url: '100x' }}" alt="{{ shop.name | escape }}">
        {% else %}
          <h2 href="{{ shop.url }}" class="text-xl">{{ shop.name }}</h2>
        {% endif %}
      </a>
      <div class="flex items-center text-base w-2/5 justify-end ml-auto">
        <button onclick="toggleSearchMenu()" class="mr-5 font-semibold leading-6 text-gray-500 hover:text-gray-600">
          {% render 'icon-search' %}
        </button>
        <button onclick="toggleMinicart()" class="mr-5 relative font-semibold leading-6 text-gray-500 hover:text-gray-600">
          {% render 'icon-shopping-bag' %}
          <span id="counter" class="bg-gray-900 rounded-full px-1 text-white text-xs absolute top-[-5px] right-0"></span>
        </button>
        {% render 'header-customer-links' %}
      </div>
    </div>
    {% comment %} navigation {% endcomment %}
    <div class="max-w-7xl">
      <ul class="flex items-center justify-center gap-4 px-1 py-3">
        {% render 'header-menu-links'
          , links: section.settings.menu.links %}
      </ul>
    </div>
  </div>
  {% render 'searchbar' %}
  {% render 'minicart' %}
</section>


{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "text",
        "id": "mobile_menu_title",
        "default": "Menu",
        "label": "Mobile Menu Title"
      }, {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "Heading Navigation Menu"
      }
    ]
  }
{% endschema %}