<script src="{{ 'productForm.js' | asset_url }}" defer></script>
{% assign selected_variant = product.selected_or_first_available_variant %}

{% if selected_variant.featured_image %}
  <img
    src="{{ selected_variant.featured_image | image_url: width: master }}"
    alt="{{ selected_variant.featured_image.alt }}"
    class="w-full h-full object-cover"
    loading="eager">
{% else %}
  <img
    src="{{ product.featured_image | image_url: width: master }}"
    alt="{{ product.featured_image.alt }}"
    class="w-full h-full object-cover"
    loading="eager">
{% endif %}

{% for media in product.media %}
  {% case media.media_type %}
    {% when 'image' %}
      <img
        src="{{ media | img_url: 'large' }}"
        alt="{{ media.preview_image.alt }}"
        class="w-full h-full object-cover"
        loading="eager">
    {% when 'external_video' %}
      {{ media | external_video_tag: class: 'w-full h-80 object-cover' }}
    {% when 'video' %}
      {{ media | video_tag: controls: true, class: 'w-full h-full object-cover' }}
    {% when 'model' %}
      {{ media | model_viewer_tag }}
    {% else %}
      {{ media | media_tag }}
  {% endcase %}
{% endfor %}


<!-- TODO: create a better image selector on large screens -->
<div class="max-w-6xl mx-auto my-8">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
    <div class="product--medias">
      <div class="hidden md:block">
        {% for media in product.media %}
          <div class="h-100 overflow-hidden p-2">
            {% render 'product-media'
              , media: media %}
          </div>
        {% endfor %}
      </div>

      <div class="md:hidden">
        <div class="product-swiper h-94">
          <div class="swiper-wrapper">
            {% for media in product.media %}
              <div class="swiper-slide">
                <div class="h-80 overflow-hidden p-2">
                  {% render 'product-media'
                    , media: media %}
                </div>
              </div>
            {% endfor %}
          </div>

          <div class="swiper-pagination"></div>

          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>

    <div class="product--information sticky top-5 p-2">
      {% form 'product'
        , product
        , id: 'product-form'
        , novalidate: 'novalidate' %}
        <input
          id="product-id"
          type="hidden"
          name="id"
          value="{{ selected_variant.id }}">

        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'vendor' %}
              <div class="my-3">
                <span class="text-xs text-gray-500">{{ product.vendor }}</span>
              </div>
            {% when 'title' %}
              <div class="my-3">
                <h1 class="text-3xl text-gray-900">{{ product.title }}</h1>
              </div>
            {% when 'price' %}
              <div class="my-3" id="price-{{ section.id }}">

                <span class="text-base {% unless selected_variant.compare_at_price > selected_variant.price %}hidden {% endunless %} product-compare-at-price text-gray-500 line-through">{{ selected_variant.compare_at_price | money }}</span>

                <span class="text-lg product-price text-gray-900">{{ selected_variant.price | money }}</span>

                {% if selected_variant.price < selected_variant.compare_at_price %}
                  <span class="px-5 py-1 text-sm font-bold bg-red-500 rounded-full text-white mx-4">Sale</span>
                {% endif %}
              </div>
            {% when 'variant_selector' %}
              <div class="my-3 product-option space-y-3 mx-auto flex flex-col items-start justify-center">
                {% unless product.has_only_default_variant %}
                  {% for option in product.options_with_values %}
                    <fieldset>
                      <legend class="mb-2">{{ option.name }}</legend>
                      {% for value in option.values %}
                        <div class="inline">
                          <input
                            type="radio"
                            value="{{ value }}"
                            name="{{ option.name }}"
                            class="hidden"
                            {% if option.selected_value == value %}
                            checked
                            {% endif %}
                            id="{{ option.name | handlize }}-{{ value | handlize }}">
                          <label
                            id="{{ option.name | handlize }}-{{ value | handlize }}"
                            for="{{ option.name | handlize }}-{{ value | handlize }}"
                            class="{% if option.selected_value == value %} bg-gray-900 text-white {% endif %}font-medium border border-gray-900 px-4 py-2 cursor-pointer hover:bg-gray-900 hover:text-white transition-all ease-in-out duration-100">{{ value }}</label>
                        </div>
                      {% endfor %}
                    </fieldset>
                  {% endfor %}
                {% endunless %}
              </div>
            {% when 'quantity' %}
              <div class="my-3 w-1/2">
                <label for="product-quantity">Quantity</label>
                <input
                  type="number"
                  name="quantity"
                  id="product-quantity"
                  value="1"
                  min="1"
                  class="input input-bordered">
              </div>
            {% when 'checkout_buttons' %}
              <div class="my-3 space-y-3">
                <button
                  type="submit"
                  id="add-to-cart-btn"
                  name="add"
                  class="bg-gray-900 px-4 py-2 text-white w-full hover:bg-gray-800"
                  {% if selected_variant.available == false %}
                  disabled
                  {% endif %}>
                  {% if selected_variant.available == false %}
                    Sold out
                  {% else %}
                    Add to cart
                  {% endif %}
                </button>
                <a
                  id="view-cart-btn"
                  href="{{ routes.cart_url }}"
                  class="hidden border border-gray-900 w-full text-gray-900 hover:bg-gray-900 hover:text-white">
                  View Cart
                </a>
              </div>
          {% else %}
            {% endcase %}
          {% endfor %}
        {% endform %}
      </div>
    </div>
    <div class="container mx-auto">
      <h2 class="text-center font-semibold my-4 text-2xl">Description</h2>
      <div class="my-3">
        <p class="text-gray-700">{{ product.description }}</p>
      </div>
    </div>
  </div>

  {% schema %}
    {
      "name": "Product",
      "blocks": [
        {
          "type": "vendor",
          "name": "Vendor",
          "limit": 1
        },
        {
          "type": "title",
          "name": "Title",
          "limit": 1
        },
        {
          "type": "price",
          "name": "Price",
          "limit": 1
        },
        {
          "type": "variant_selector",
          "name": "Variant Selector",
          "limit": 1
        }, {
          "type": "quantity",
          "name": "Quantity",
          "limit": 1
        }, {
          "type": "description",
          "name": "Description",
          "limit": 1
        }, {
          "type": "checkout_buttons",
          "name": "Checkout Buttons",
          "limit": 1
        }
      ]
    }
  {% endschema %}