<script type="module" src="{{ 'productForm.js' | asset_url }}"></script>
{% assign selected_variant = product.selected_or_first_available_variant %}

<!-- TODO: create a better image selector on large screens -->
<div class="max-w-6xl mx-auto my-8">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
    <div class="product--medias">
      <div class="hidden md:block">
        {% for media in product.media %}
          <div class="h-100 overflow-hidden p-2">
            {% render 'product-media'
              , media: media %}
          </div>
        {% endfor %}
      </div>

      <div class="md:hidden">
        <div class="product-swiper h-94">
          <div class="swiper-wrapper">
            {% for media in product.media %}
              <div class="swiper-slide">
                <div class="h-80 overflow-hidden p-2">
                  {% render 'product-media'
                    , media: media %}
                </div>
              </div>
            {% endfor %}
          </div>

          <div class="swiper-pagination"></div>

          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>

    <div class="product--information sticky top-5 p-2">

      <form id="productForm" class="space-y-6">
        <input
          id="product-id"
          type="hidden"
          name="id"
          value="{{ selected_variant.id }}">

        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'vendor' %}
              <div class="my-3">
                <span class="text-xs text-gray-500">{{ product.vendor }}</span>
              </div>
            {% when 'title' %}
              <div class="my-3">
                <h1 class="text-3xl text-gray-900">{{ product.title }}</h1>
              </div>
            {% when 'price' %}
              <div class="my-3 flex items-center justify-start space-x-2" id="price-{{ section.id }}">
                <span v-cloak class="block text-base product-compare-at-price text-gray-500 line-through">${ store.money(selectedOrFirstVariant.comparePrice) }</span>
                <span v-cloak class="block text-lg product-price text-gray-900">${ store.money(selectedOrFirstVariant.price) }</span>
                {% if selected_variant.price < selected_variant.compare_at_price %}
                  <span class="block px-5 py-1 text-sm font-bold bg-red-500 rounded-full text-white mx-4">Sale</span>
                {% endif %}
              </div>
            {% when 'variant_selector' %}
              <template v-for="option in product.options" :key="option.position">
                <div class="my-3">
                  <fieldset>
                    <legend class="mb-2">${option.name}</legend>
                    <template v-for="(value, index) in option.values" :key="index">
                      <div class="inline space-x-1">
                        <input
                          type="radio"
                          :name="value"
                          :value="value"
                          @change="handleSelectedVariations(option.name, value)"
                          v-model="mapVariations"
                          class="hidden"
                          :id="value" />

                        <label
                          :for="value"
                          :class="{'text-white bg-gray-900  hover:bg-gray-700': mapVariations.includes(value), 'bg-white hover:bg-gray-900 hover:text-white': !mapVariations.includes(value) }"
                          class="font-medium px-4 py-2 cursor-pointer border border-gray-900 transition-all ease-in-out duration-100">${value}</label>
                      </div>
                    </template>
                  </fieldset>
                </div>
              </template>

            {% when 'quantity' %}
              <div class="my-3">
                <label for="Quantity-{{ section.id }}" class="sr-only">
                  Quantity
                </label>

                <div class="w-32 flex items-center rounded border border-gray-900">
                  <button
                    @click="selectedOrFirstVariant.quantity > 1 ? selectedOrFirstVariant.quantity-- : selectedOrFirstVariant.quantity = 1"
                    type="button"
                    class="h-10 w-10 leading-10 text-gray-900 transition hover:opacity-75">
                    &minus;
                  </button>

                  <input
                    type="number"
                    id="Quantity-{{ section.id }}"
                    name="Quantity-{{ section.id }}"
                    v-model="selectedOrFirstVariant.quantity"
                    class="h-10 w-16 border-transparent text-center [-moz-appearance:_textfield] sm:text-sm [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none" />

                  <button
                    @click="selectedOrFirstVariant.quantity++"
                    type="button"
                    class="h-10 w-10 leading-10 text-gray-600 transition hover:opacity-75">
                    &plus;
                  </button>
                </div>
              </div>
            {% when 'description' %}
              <div class="my-3">
                <p class="text-gray-700">{{ product.description }}</p>
              </div>

            {% when 'checkout_buttons' %}
              <div class="my-3">
                <button
                  name="add"
                  @click="store.addToCart($event, selectedOrFirstVariant)"
                  class="w-full px-6 py-4 bg-gray-900 text-white hover:bg-gray-700 rounded-sm my-2"
                  {% if selected_variant.available == false %}
                  disabled
                  {% endif %}>
                  {% if selected_variant.available == false %}
                    Sold out
                  {% else %}
                    Add to cart
                  {% endif %}
                </button>
              </div>
          {% else %}

            {% endcase %}
          {% endfor %}
        </form>
      </div>
    </div>
  </div>

  {% schema %}
    {
      "name": "Product",
      "blocks": [
        {
          "type": "vendor",
          "name": "Vendor",
          "limit": 1
        },
        {
          "type": "title",
          "name": "Title",
          "limit": 1
        },
        {
          "type": "price",
          "name": "Price",
          "limit": 1
        },
        {
          "type": "variant_selector",
          "name": "Variant Selector",
          "limit": 1
        }, {
          "type": "quantity",
          "name": "Quantity",
          "limit": 1
        }, {
          "type": "description",
          "name": "Description",
          "limit": 1
        }, {
          "type": "checkout_buttons",
          "name": "Checkout Buttons",
          "limit": 1
        }
      ]
    }
  {% endschema %}